*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

.top-nav{
background-color: white;
display:flex;
justify-content: space-between;
padding:0 30px;
align-items: center;
}
.loader{
    display: flex;
   justify-content: center;
}

.App{
    background-color:	#d1f5f8;
    height: 100%;
    color:rgb(48, 42, 42);
}
.pagination{
    display:flex;
    list-style: none;
    justify-content: center;
}

.card-display{
    display:flex;
    flex-wrap: wrap;
}
.single-card{
    width:275px;
    margin:20px;
   padding:20px;
   border-radius: 10px;
   background-color: white;
    color:green;
}

.single-card span{
    font-weight: 600;
}

@media only screen and (max-width: 700px) {
    .pagination{
display:none!important;
    }
  }